.sliderCompContainer {
position: absolute;
width: 209px;
height: 104px;
left: 703px;
top: 227.67px;
}

.sliderImg {
  background-color: red;
position: absolute;
width: 209px;
height: 104px;
left: 703px;
top: 227.67px;
}