
.projectModal {
  position: absolute;
  width: 395px;
  height: 460px;
  left: 305px;
  top: 506px; 
  animation: appear .5s ease-in-out;
}

@keyframes appear {
  0% {
     height: 0px;
  }
  60% {
    height: 436px;
  }
  100% {
    height: 460px;
    // transform: rotate3d(10,0,0, 360deg);
  
  }
}

.handleClickPokemon {
  background-color: red;
  z-index: -10;
  background-color: transparent;
  position: absolute;
  width: 302px;
  height: 182px;
  left: 167px;
  top: 538px;
}

.handleClickPokemon:hover {
  cursor: pointer;
  // transform: scale(.15);
//  animation: zoom .1s ease-in-out;
}

.backBlack {
 background-color: black;
 z-index: 30;
 border-radius: 12px;
 position: absolute;
 width: 270px;
 height: 190px;
 left: 433px;
 top: 280px;
}

.divHoverPokemon {
  border-radius: 10px;
  position: absolute;
  height: 170px;
  width: 290px;
  top: 538px;
  left: 368px;
}

.divHoverPokemon:hover {
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.477);
}

.videoPokemon {
  z-index: 40;
  border-radius: 12px;
  position: absolute;
  width: 290px;
  height: 100%;
  left: 425px;
  top: 273px;
  transform: rotate(-0.5deg);
// transform: rotateY(-20deg)rotateX(0deg);
}

.divHoverFlyMate {
  border-radius: 6px;
  position: absolute;
  height: 163px;
  width: 285px;
  top: 737px;
  left: 370.5px;
}

.divHoverFlyMate:hover {
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.477);
}

.videoFlyMate {
  z-index: 40;
  border-radius: 12px;
  position: absolute;
  width: 290px;
  height: 100%;
  left: 427px;
  top: 273px;
  transform: rotate(-0.5deg);
}

.videoFlyMate:hover {
  cursor: pointer;
  transform: scale(1.05);
 animation: zoom .1s ease-in-out;
}

.pokemonLogo {
  position: absolute;
width: 140px;
height: 40px;
left: 288px;
top: 610px;
transform: rotate(-91deg);
}

.flyMateLogo {
  position: absolute;
width: 140px;
height: 40px;
left: 290px;
top: 790px;
transform: rotate(-91deg);
}

.divImages {
  animation: appearText 0.7s ease;
}

@keyframes appearText {
  0% {
    opacity: 0;
    // transform: rotate3d(10,0,0,85deg);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    // transform: rotate3d(10,0,0,0deg);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.06)
  }
}

