
.projectModal {
  position: absolute;
  width: 395px;
  height: 460px;
  left: 305px;
  top: 506px; 
  animation: appear .5s ease-in-out;
}

@keyframes appear {
  0% {
     height: 0px;
  }
  60% {
    height: 436px;
  }
  100% {
    height: 460px;
    // transform: rotate3d(10,0,0, 360deg);
  
  }
}

.handleClickPokemon {
  // background-color: red;
  z-index: -10;
  background-color: transparent;
  position: absolute;
  width: 302px;
  height: 182px;
  left: 167px;
  top: 538px;
}

.handleClickPokemon:hover {
  cursor: pointer;
  // transform: scale(.15);
//  animation: zoom .1s ease-in-out;
}

.logoLoadingProject {
  z-index: 25;
  position: relative;
  border-radius: 50%;
  height: 100px;
  top: 110px;
  left:180px;
  animation: loadingLogo 22s ease-in-out;
}

@keyframes loadingLogo {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.backBlack {
//  background-color: black;
 z-index: 40;
 border-radius: 20px;
 position: absolute;
 width: 457px;
 height: 308px;
 left: 591px;
 top: 202px;
 animation: backBlackFx .3s ease-in-out;
}

@keyframes backBlackFx {
  0% {
    width: 280px;
    height: 180px;
    left: 430px;
    top: 285px;
  }
  100% {
    width: 466px;
    height: 316px;
    left: 590px;
    top: 198px;
  }
}

.divHoverPokemon {
  z-index: 50;
  border-radius: 10px;
  position: absolute;
  height: 205px;
  width: 317px;
  left: 342px;
  top: 538px;
}

// .divHoverPokemon:hover {
//   background-color: rgba(60, 60, 203, 0.658);
// }

.videoPokemon {
  z-index: 50;
  border-radius: 40%;
  position: absolute;
  width: 444px;
  height: 314px;
  left: 11px;
  right: -100px;
  transform: rotate(-0.5deg);
  animation: videoFx 1s ease-in-out;
}

@keyframes videoFx {
  0% {
    opacity: 0;  
  }
  100% {
    opacity: 1;  
  }
}

.divHoverFlyMate {
  z-index: 50;
  border-radius: 6px;
  position: absolute;
  height: 202px;
  width: 317px;
  left: 342px;
  top: 737px;
 }

// .divHoverFlyMate:hover {
//   background-color: rgba(211, 51, 51, 0.658);
// }

.videoFlyMate {
  z-index: 50;
  border-radius: 40%;
  position: absolute;
  width: 444px;
  height: 314px;
  left: 11px;
  right: -100px;
  transform: rotate(-0.5deg);
  animation: videoFx 1s ease-in-out;
}

.videoFlyMate:hover {
  cursor: pointer;
  transform: scale(1.05);
 animation: zoom .1s ease-in-out;
}

.pokemonLogo {
  position: absolute;
width: 120px;
height: 35px;
left: 298px;
top: 610px;
transform: rotate(-91deg);
}

.flyMateLogo {
  position: absolute;
width: 120px;
height: 35px;
left: 300px;
top: 795px;
transform: rotate(-91deg);
}

.buttonPokemonWeb {
  border-radius: 30%;
  z-index: 10;
  opacity: 0;
  position: absolute;
  width: 62px;
  height: 60px;
  left: 243px;
  top: 116px;
  transform: rotate(-.2deg);
}
.buttonPokemonVideo {
  border-radius: 30%;
  z-index: 10;
  opacity: 0;
  position: absolute;
  width: 64px;
  height: 61px;
  left: 14px;
  top: 122px;
}
.buttonFlyMateWeb {
  z-index: 10;
  opacity: 0;
  position: absolute;
  width: 64.5px;
  height: 62px;
  left: 241px;
  top: 127.5px;
}
.buttonFlyMateVideo {
  z-index: 10;
  opacity: 0;
  position: absolute;
  width: 63px;
  height: 61px;
  left: 18px;
  top: 131px;
}
.buttonPokemonWeb:hover {
  cursor: pointer;
  opacity: 1;
}
.buttonPokemonVideo:hover {
  cursor: pointer;
  opacity: 1;
}
.buttonFlyMateWeb:hover {
  cursor: pointer;
  opacity: 1;
}
.buttonFlyMateVideo:hover {
  cursor: pointer;
  opacity: 1;
}

.divImages {
  animation: appearText 0.7s ease;
}

@keyframes appearText {
  0% {
    opacity: 0;
    // transform: rotate3d(10,0,0,85deg);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    // transform: rotate3d(10,0,0,0deg);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.06)
  }
}

