.modalContactContainer {
  position: absolute;
  left: 1px;
  top: -10px;
}

.modalContact {
  z-index: 20;
  position: absolute;
  width: 549px;
  height: 326px;
  left: 917px;
  top: 560px;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 30%;
  transform: rotate(3deg);
  filter: drop-shadow(18px 9px 1px rgba(0, 0, 0, 0.612));
}

.inputContact {
  position: absolute;
  width: 140px;
  height: 36px;
  left: 1161px;
  top: 677.41px;
  transform: rotate(-20deg)
}

.modalContactFx {
  animation: contactIn .4s ease;
 }
 
 .modalContactNoFx {
   animation: contactOut 5s ease;
 }

@keyframes contactIn {
  0% {
    width: 0px;
    height: 0px;
    // left: 950px;
  }
  50% {
    width: -260px;
    height: 13px;
  }

  100% {
    width: 549px;
    height: 326px;
  }
}

@keyframes contactOut {
  0% {
    width: 549px;
    height: 326px;
  }
  50% {
    width: -260px;
    height: 163px;
    opacity: 0.5;
   }
  
  100% {
    width: 0px;
    height: 0px;
    left: 950px;
    opacity: 0.2;
  }
}

.buttonLinkedIn {
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 67px;
  height: 65px;
left: 1025px;
top: 791px;
  transform: rotate(3deg);
}

.buttonLinkedIn:hover {
  cursor: pointer;
  animation: buttonsFx 0.2s ease-in-out;
  opacity: 1;
}

.buttonLinkedIn:active {
  cursor: pointer;
  opacity: 0;
}

.buttonGitHub {
  opacity: 0;
  z-index: 100;
  position: absolute;
width: 67px;
height: 65px;
left: 944px;
top: 787px;
}

.buttonGitHub:hover {
  cursor: pointer;
  animation: buttonsFx 0.2s ease-in-out;
  opacity: 1;
}

.buttonGitHub:active {
  cursor: pointer;
  opacity: 0;
}

.buttonWhatsApp {
  opacity: 0;
  z-index: 100;
  position: absolute;
width: 67px;
height: 65px;
left: 1179px;
top: 764px;
}

.buttonWhatsApp:hover {
  cursor: pointer;
  animation: buttonsFx 0.2s ease-in-out;
  opacity: 1;
}

.buttonWhatsApp:active {
  cursor: pointer;
  opacity: 0;
}

.buttonMail {
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 67px;
  height: 64px;
left: 1104px;
top: 736px;
transform: rotate(3deg);
}

.buttonMail:hover {
  cursor: pointer;
  animation: buttonsFx 0.2s ease-in-out;
  opacity: 1;
}

.buttonMail:active {
  cursor: pointer;
  opacity: 0;
}

@keyframes buttonsFx {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contactLinkedIn {
  z-index: 80;
  position: absolute;
  width: 312.53px;
  height: 216.13px;
  left: 690px;
  top: 500px;
  animation: showContact .4s ease-in-out;
}
.contactGitHub {
  z-index: 80;
  position: absolute;
  width: 312.53px;
  height: 216.13px;
  left: 690px;
  top: 500px;
  animation: showContact .4s ease-in-out;
}
.contactWhatsApp {
  z-index: 80;
  position: absolute;
  width: 312.53px;
  height: 216.13px;
  left: 690px;
  top: 500px;
  animation: showContact .4s ease-in-out;
}
.contactMail {
  z-index: 80;
  position: absolute;
  width: 312.53px;
  height: 216.13px;
  left: 690px;
  top: 500px;
  animation: showContact .4s ease-in-out;
}

@keyframes showContact {
  0% {
    height: 10px;
    width: 10px;
    left: 800px;
    top: 780px;
  }
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
    width: 312.53px;
    height: 216.13px;
    left: 690px;
    top: 500px;
  }
}
