.modalProjectContainer {
animation: appear 1s ease-in-out;
}

.projectModal {
  position: absolute;
  width: 402px;
  height: 476px;
  left: 300px;
  top: 506px;
}

.handleClickPokemon {
  background-color: red;
  z-index: -10;
  background-color: transparent;
  position: absolute;
  width: 302px;
  height: 182px;
  left: 167px;
  top: 538px;
}

.handleClickPokemon:hover {
  cursor: pointer;
  // transform: scale(.15);
//  animation: zoom .1s ease-in-out;
}

.videoPokemon {
  z-index: 20;
  border-radius: 12px;
  position: absolute;
  width: 302px;
  height: 182px;
  left: 367px;
  top: 538px;
  transform: rotate(0.4deg);
// transform: rotateY(-20deg)rotateX(0deg);
}


.videoFlyMate {
  border-radius: 10px;
  position: absolute;
  width: 302px;
  height: 167px;
  left: 366px;
  top: 760px;
  // transform: rotate(-0.2deg);
}

.videoFlyMate:hover {
  cursor: pointer;
  transform: scale(1.05);
 animation: zoom .1s ease-in-out;
}

.pokemonLogo {
  position: absolute;
width: 140px;
height: 40px;
left: 278px;
top: 610px;
transform: rotate(-90deg);
}

.flyMateLogo {
  position: absolute;
width: 140px;
height: 40px;
left: 278px;
top: 829px;
transform: rotate(-90deg);
}

.divImages {
  animation: appearText .2s ease;
}

@keyframes appearText {
  0% {
    opacity: 0;
    transform: rotate3d(10,0,0,85deg);
  }
  100% {
    opacity: 1;
    transform: rotate3d(10,0,0,0deg);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.06)
  }
}

@keyframes appear {
  0% {
    // transform: scale(.1);
    opacity: 0;
  }
  100% {
    // transform: scale(1);
    opacity: 1;
  }
}