
.modalAboutContainer {
  visibility: hidden;
  z-index: 100;
}
.aboutModalIn {
  z-index: 0;
  position: absolute;
  width: 579.64px;
  height: 544.36px;
  left: 942px;
  top: 153.25px;
  transform: rotate(-0.63deg);
  animation: aboutFramerIn 2s ease;
}

.aboutModalOut {
  display: none;
  z-index: -10;
  position: absolute;
  width: 579.64px;
  height: 544.36px;
  left: 942px;
  top: 153.25px;
  transform: rotate(-0.63deg);
  animation: aboutFramerOut 2s ease;
}

@keyframes aboutFramerIn {
  0% {
    transform: rotate(-208deg) scale(8%);
      }
  50% {
    transform: rotate(-354.63deg);
  }
  100% {
    transform: rotate(-360.63deg);
  }
 }

@keyframes aboutFramerOut {
 0% {
  transform: translateX(0);
}
100% {
  transform: translateX(420px);
  }
}

.CvButton {
  opacity: 0;
  cursor: pointer;
  padding: 0;
  z-index: 30;
  position: absolute;
  width: 53px;
  height: 62px;
  left: 1396px;
  top: 430px;
}

.CvButton:hover  {
  opacity: 1;
  animation: cvButtonFx .12s ease-in-out;
}

.buttonCvHover:hover .ArrowAbout {
display: none;
}

@keyframes cvButtonFx {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
    width: 40px;
    height: 45px;
    left: 1398px;
    top: 438px;
  }
  100% {
    opacity: 1;
    width: 53px;
    height: 62px;
    left: 1396px;
  top: 430px;
  }
}

.arrowContainer {
  animation: arrowCont 2.2s ease-in-out;
}
.arrowContainer:hover {
  display: none;
}

@keyframes arrowCont {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.ArrowAbout {
  z-index: 0;
  position: absolute;
  width: 52px;
  height: 19.16px;
  left: 1450px;
  top: 451px;
  transform: rotate(178.07deg);
  filter: drop-shadow(0px -2px 2px rgb(210, 124, 11));
  animation: arrow2Fx 2s ease-in-out infinite;
  color: #df871a7e;
}

@keyframes arrow2Fx {
  0% {
    left: 1460px;
    opacity: 0.8;
    width: 40px;
    height: 23px;
  }
  50% {
   left: 1490px;
   opacity: 1;
   width: 46px;
   height: 17px;
  }
  100% {
  left: 1460px;
  opacity: 0.8;
  width: 40px;
  // height: 19.16px;
  height: 23px;
  }
}

.aboutCv {
  position: absolute;
  width: 239px;
  height: 152px;
  left: 1245px;
  top: 278px;
  animation: showCv .3s ease-in-out;
}

@keyframes showCv {
  0% {
    height: 10px;
    width: 10px;
    left: 1415px;
    top: 440px;
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
    width: 239px;
    height: 152px;
    left: 1245px;
    top: 280px;
  }
}
