.modalContactContainer {
  position: absolute;
  left: 1px;
  top: -10px;
}

.modalContact {
  z-index: 20;
  position: absolute;
  width: 549px;
  height: 326px;
  left: 917px;
  top: 560px;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 30%;
  transform: rotate(3deg);
  filter: drop-shadow(18px 9px 1px rgba(0, 0, 0, 0.612));
}

.inputContact {
  position: absolute;
  width: 140px;
  height: 36px;
  left: 1161px;
  top: 677.41px;
  transform: rotate(-20deg)
}

.modalContactFx {
  animation: contactIn .4s ease;
 }
 
 .modalContactNoFx {
   animation: contactOut 5s ease;
 }

@keyframes contactIn {
  0% {
    width: 0px;
    height: 0px;
    // left: 950px;
  }
  50% {
    width: -260px;
    height: 13px;
  }

  100% {
    width: 549px;
    height: 326px;
  }
}

@keyframes contactOut {
  0% {
    width: 549px;
    height: 326px;
  }
  50% {
    width: -260px;
    height: 163px;
    opacity: 0.5;
   }
  
  100% {
    width: 0px;
    height: 0px;
    left: 950px;
    opacity: 0.2;
  }
}

.logoLinkedIn {
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 83px;
  height: 67px;
  left: 1002px;
  top: 782px;
  transform: rotate(5deg);
}

.logoLinkedIn:hover {
  cursor: pointer;
  opacity: 1;
}

.logoLinkedIn:active {
  cursor: pointer;
  opacity: 0;
}

.logoGitHub {
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 86px;
  height: 68px;
  left: 926px;
  top: 778px;
}

.logoGitHub:hover {
  cursor: pointer;
  opacity: 1;
}

.logoGitHub:active {
  cursor: pointer;
  opacity: 0;
}

