.movingTextContainer {
  // background-color: red;
  min-width: 200px;
    z-index: 80;
  color: #D9DC41;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  width: 87.46px;
  max-height: 40px;
  left: 1220px;
top: 548px;
  transform: rotate(-19.71deg);
}