.landingContainer {
  position: absolute;
  top: 0px;
  left: 40px;
}

.hoverLanding {
  cursor: pointer;
  z-index: 10;
  background-color: transparent;
  position: absolute;
  width: 832px;
  height: 826px;
  left: 509px;
  top: 60px;
}

.contBackLanding {
  position: absolute;
  z-index: -10;
  animation: showLanding 3s ease-in-out;
}

@keyframes showLanding {
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  }
}

.BackLanding {
  cursor: pointer;
  z-index: -5;
  position: absolute;
  width: 832px;
  height: 826px;
  left: 709px;
  top: 60px;
  animation: animBack 4s ease-in-out infinite;
}

.BackLanding2 {
  position: absolute;
  z-index: -10;
  height: 620px;
  width: 1250px;
  top: 318px;
  left: 120px;
  transform: rotate(1deg);
}


.puzzleFx {
  animation: puzz 2s ease-in-out;
}

@keyframes puzz {
  0% {
    transform: rotate3d(0, 0, 0, rad);
  }
  100% {
    opacity: 0;
    top: 500px;
    transform: rotate3d(10, 0, 0, 2rad);
    }
}

.gifFx {
    animation: animGif 2.1s ease-in-out;
  }

@keyframes animBack {
  0% {
    filter:hue-rotate(0deg)
  }
  25% {
    filter:hue-rotate(15deg)
  }
  50% {
    filter:hue-rotate(0deg)
  }
  75% {
      filter:hue-rotate(-15deg)
  }
  100% {
    filter:hue-rotate(0deg)
  }
}

@keyframes animGif {
  0% {
opacity: 1;
      filter:hue-rotate(0deg)
  }
  50% {
    opacity: 0.5;
    filter:hue-rotate(32deg)
  
  }
  100% {
    opacity: 0;
    filter:hue-rotate(0deg)
  }
}