.movingTextTech {
  font-size: 13px;
  color: rgb(221, 219, 88);
  z-index: 70;
  position: absolute;
  width: 200px;
  height: 100px;
  left: 820px;
  top: 244px;
  filter: drop-shadow(-7px -1px 1px rgba(0, 0, 0, 0.25));
  transform: rotate(1deg)skewX(5deg);
  animation: techFx .1s ease-in-out;
}

@keyframes techFx {
  0% {
    opacity: 0;
    left: 740px;
  }
  100% {
    opacity: 1;
    left: 1740px;
  }
}