
.DialogTech {
  z-index: 50;
  position: absolute;
  width: 190px;
  height: 90px;
left: 737px;
top: 210px;
filter: drop-shadow(-7px -1px 1px rgba(0, 0, 0, 0.25));
transform: rotate(0deg)skewX(5deg);
animation: techFx .1s ease-in-out;
}

.DialogTechVideo {
  border-color: transparent;
  background-color: transparent;
  z-index: 60;
  position: absolute;
  width: 80px;
  height: 43px;
  left: 746px;
  top: 228px;
  animation: videoOpacity 1s ease-in-out;
}

@keyframes techFx {
  0% {
    left: 825px;
width: 0px;
  }
}

@keyframes videoOpacity {
  0% {
    opacity: 0;
  }
}