
.DialogTech {
  z-index: 20;
  position: absolute;
  width: 190px;
  height: 90px;
left: 737px;
top: 210px;
filter: drop-shadow(-7px -1px 1px rgba(0, 0, 0, 0.25));
transform: rotate(0deg)skewX(5deg);
}

.DialogTechFx {
  animation: techFx .1s ease-in-out;
}

.closeDialogTech {
  cursor: pointer;
  z-index: 25;
  // background-color: red;
  border-radius: 50%;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 869px;
  top: 233px;
  transform: rotate3d(1, 1, 1, 45deg)rotate(-25deg);
  filter:hue-rotate(-20deg);
}

.closeDialogTechFx {
  animation: techFx .1s ease-in-out;
}

.DialogTechVideo {
  border-color: transparent;
  background-color: transparent;
  z-index: 25;
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 37px;
  left: 750px;
  top: 230px;
  transform: rotate(-0.5deg)skewX(7deg);
}

.DialogTechVideoFx {
  animation: videoOpacity 1s ease-in-out;
}

@keyframes techFx {
  0% {
    left: 825px;
width: 0px;
  }
}

@keyframes videoOpacity {
  0% {
    opacity: 0;
  }
}