.HomeMobileContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  
  
  .mName {
    display: flex;
    padding: 0;
    justify-content: center;
    
    .mDiego {
      width: 10em;
    }
    .mTavelli {
      width: 10em;
    }
  }
  
  
  .mFullStackDev {
    // background-color: red;
    display: flex;
    justify-content: center;
    
    .mFull {
      width: 10em;
    }
    .mStack {
      width: 10em;
    }
    .mDev {
      width: 10em;
    }
  }
  
}