.movingTextHard {
  // background-color: red;
  min-width: 200px;
    z-index: 0;
  color: #d9dc4116;
  font-size: 18px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  width: 287.46px;
  max-height: 40px;
  left: 830px;
top: 360px;
  transform: rotate(-9.4deg);
}

.movingTextSoft {
  cursor: default;
  // background-color: red;
  min-width: 200px;
    z-index: 80;
  color: #949627;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  width: 87.46px;
  max-height: 40px;
  left: 1052px;
  top: 608px;
// filter: drop-shadow(3px 2px 20px rgba(10, 10, 10, 0.671));
  transform: rotate(-17.5deg);
}

.soft {
  position: absolute;
width: 87.46px;
height: 55.66px;
left: 920px;
top: 660px;
transform: rotate(-19.71deg);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
color: red
}

.hard {
  position: absolute;
  width: 187.46px;
  height: 55.66px;
  left: 100px;
  top: 180px;
  transform: rotate(-19.71deg);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
color: #BC3A80;
}